* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 480px;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 20px;
}

.heading {
  text-align: center;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

#task {
  font-size: 16px;
  flex-grow: 3;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
}

.addButton {
  font-size: 16px;
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  background-color: skyblue;
}

.taskList {
  margin: 20px;
}

.taskList li {  
  margin: 15px 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.taskList li span {
  font-size: 18px;
}

.taskList li img {
  width: 15px;
  height: 15px;
}

.taskList .checkbox {
  margin-right: 20px;
}

.taskList .cross {
  margin-left: auto;
}